<header>
    <nav>                
        <img src="assets/img/marvel_logo.svg">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['/characters']">Personagens</a></li>
            <li><a [routerLink]="['/events']">Eventos</a></li>
            <li><a [routerLink]="['/comics']">Revistas</a></li>
            <li><a [routerLink]="['/series']">Series</a></li>
        </ul>
    </nav>
</header>