<footer>
    <div class="footer-nome-projeto">
      <a href="https://github.com/marcelgithub1/ProjetoAngularMarvel" target="_blank"><span>Projeto Angular Marvel</span></a>    
    </div>
    <div class="marvel-links">
        <a href="https://www.instagram.com/marvel/" target="_blank"><img [src]="'assets/img/instagram_logo.svg'"></a>
        <a href="https://www.facebook.com/marvelstudios" target="_blank"><img [src]="'assets/img/facebook_logo.svg'"></a> 
        <a href="https://twitter.com/marvel" target="_blank"><img [src]="'assets/img/twitter_logo.svg'"></a> 
    </div>
  </footer>