<footer>
  <div class="marvel-links">
    <a href="https://www.instagram.com/marvel/" target="_blank"><img [src]="'assets/images/instagram_logo.svg'"></a>
    <a href="https://www.facebook.com/marvelstudios" target="_blank"><img [src]="'assets/images/facebook_logo.svg'"></a> 
    <a href="https://twitter.com/marvel" target="_blank"><img [src]="'assets/images/twitter_logo.svg'"></a> 
  </div>
  <div class="footer-nome-projeto">
    <a target="_blank" href="https://github.com/marcelgithub1/ProjetoAngularMarvel"><span>Projeto Angular Marvel</span></a>    
  </div>    
</footer>
