$primary-color: #e61c23;
$secondary-color: #fff;
$third-color: #000;

/*Variavei para o linear gradient da tela principal*/
$primary-linear-color: rgba(230, 28, 35, .20);
$secondary-linear-color: rgba(230, 28, 35, 0.05);

/*Variavel do card-home*/
$card-hover: rgba(0, 0, 0, .4);

/*Variavel do link-hover do footer*/
$footer-hover: #FFF;

/*Variavel do background do Menu Mobile*/
$menu-bg-color: rgba(0, 0, 0, .7);