$primary-color: #e61c23;
$secondary-color: #fff;
$third-color: #000;

/*Variavei para o linear gradient da tela principal*/
$primary-linear-color: rgba(230, 28, 35, .20);
$secondary-linear-color: rgba(230, 28, 35, 0.05);