@import 'src/assets/scss/variables.scss';

.content-serie
{
    width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5em auto 5em auto;
    border: 1px solid $third-color;    
    border-radius: 15px 15px 0 0;
    box-shadow: 2px 2px 8px $card-hover; 
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    color: $third-color;
}

.content-serie img
{
    width:100%;
    max-height: 80%;
    position: relative;
    top: 0px;
    border-radius: 15px 15px 0 0;
}

p
{    
    font-size: 18px;
    justify-content: align;    
}

p.title
{
    text-transform: uppercase;
    font-weight: bold;
}

p.description
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

a
{
    font-size: 24px;
    text-decoration: none;
    color: $primary-color;
    margin-bottom: .2rem;    
}

a:hover
{
    text-decoration: underline;    
}

@media (max-width: 1200px)
{
    .content-serie
    {
        width: 50%;
    }
}

@media (max-width: 970px)
{
    .content-serie
    {
        width: 70%;
    }
}

@media (max-width: 750px)
{
    .content-serie
    {
        width: 90%;        
    }
}