@import 'src/assets/scss/variables.scss';

.content 
{
    position: relative;
    min-height: 100%;
}

main 
{       
    padding-bottom: 3rem;
    min-height: 100%;    
}

@media screen and (max-width: 768px) 
{
   .content main 
   {
        padding: 1rem 1rem 1rem;
        padding-bottom: 6rem;
   }
}  