<div class="content-home">
  <h1>Seja Bem-Vindo!</h1>    
  <h2 class="mobile">Mergulhe pelo Universo Marvel!</h2>

      <div clas="row">
        <app-card-home title="Personagens" ngClass="bg1" [urlRoute]="routes.characters"></app-card-home>
        <app-card-home title="Eventos" ngClass="bg2" [urlRoute]="routes.events"></app-card-home>
        <app-card-home title="Quadrinhos" ngClass="bg3" [urlRoute]="routes.comics"></app-card-home>
        <app-card-home title="Series" ngClass="bg4" [urlRoute]="routes.series"></app-card-home>
      </div> 
      <h2 class="desktop">Mergulhe pelo Universo Marvel!</h2>
</div>
  